@model Kino.Models.Dtos.PagedResponse<List<Kino.Models.Dtos.Favorite.GetListFavoriteDto>>

@{
    Layout = "_Layout";
}
<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      
</div>
</body>
</html>