@model List<Kino.Models.Dtos.Genre.GetListGenreDto>
@{
    Layout = "_Layout";
}
<h5 class="pt-3" style="color:white">Жанры</h5>

        <a class="btn btn-primary" asp-area="" asp-controller="Genres" asp-action="Create">Добавить</a>

<table class="table table-striped" style="">
    <thead class="thead-light">
    <tr>
        <th>Id</th>
        <th>Название</th>
        <th>Картинка</th>
        <th>Дата создания</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var genre in Model)
    {
        <tr>
            <td>@genre.Id</td>
            <td>@genre.Name</td>
            <td></td>
            <td>@genre.CreateDate</td>
            <td><a class="btn btn-info" href="~/Genres/GetById?id=@genre.Id">Подробно</a></td>
            <td><a class="btn btn-danger" href="~/Genres/Delete?id=@genre.Id">Удалить</a></td>
        </tr>
    }
    
    </tbody>
</table>